<nav id="main-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div id="app-user" class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="dashboard"><img src="img/logo.png"></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <span id="user-name">John Doe</span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" (click)="logout( $event )">{{ 'menu.logout' | translate }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid full-height">
    <div class="row full-height">
        <div id="main-menu" class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <ul>
                <li><a>{{ 'menu.analytics' | translate }}</a></li>
                <li><a>{{ 'menu.scores' | translate }}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/users/list']">{{ 'menu.users' | translate }}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/courses/list']">{{ 'menu.courses' | translate }}</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/schools/list']">{{ 'menu.schools' | translate }}</a></li>
            </ul>
        </div>
        <div id="main-container" class="col-lg-10 col-md-10 col-sm-8 col-xs-8 full-height">
            <div class="inner full-height">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>