<div class="section-header">
    <h1>{{ 'title.groups' | translate }}</h1>
    <a class="btn btn-success" [routerLink]="['/groups/create']">{{ 'btn.add_group' | translate }}</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'header.name' | translate }}</th>
                    <th width="25%">{{ 'header.administrator' | translate }}</th>
                    <th width="25%">{{ 'header.school' | translate }}</th>
                    <th width="15%">{{ 'header.action' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of groups, let i = index">
                    <td class="">{{ group.name }}</td>
                    <td>{{ group.administrator.name }}</td>
                    <td>{{ group.school.name }}</td>
                    <td>
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></button>
                            <ul class="dropdown-menu">
                                <li><a>{{ 'menu.details' | translate }}</a></li>
                                <li><span (click)="remove( group._id, i )">{{ 'menu.remove' | translate }}</span></li>
                            </ul>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>